# Gradle
.gradle/
**/build/
**/bin/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Android
android/.gradle/
android/**/build/
android/local.properties
android/.idea/
android/*.iml
android/app/google-services.json
*.apk
*.aab

# Firebase
firebase-keys/
*-firebase-*.json

# Environment variables
.env

# Logs
*.log
docs/
